<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{pageTitle}}</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- Content Row -->

<!-- Content Row -->

<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Camera feed</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div style="text-align:center">
          <div>
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    *ngIf="showWebcam"
                    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                    [videoOptions]="videoOptions"
                    [imageQuality]="1"
                    (cameraSwitched)="cameraWasSwitched($event)"
                    (initError)="handleInitError($event)"
            ></webcam>
            <br/>
            <div class="btn-group">
              <button class="btn btn-primary border-dark" (click)="triggerSnapshot();">Take A Snapshot</button>
              <button class="btn btn-primary border-dark" (click)="toggleWebcam();">Toggle Webcam</button>
              <button class="btn btn-primary border-dark" (click)="showNextWebcam(true);"
                      [disabled]="!multipleWebcamsAvailable">Next
                Webcam
              </button>
            </div>

            <div class="form-check">
              <input id="cameraSwitchCheckbox" class="form-check-inline" type="checkbox"
                     [(ngModel)]="allowCameraSwitch">
              <label class="form-check-label"
                     for="cameraSwitchCheckbox">Allow Camera Switch</label>

            </div>
            <br/>
            DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
            <button (click)="showNextWebcam(deviceId);">Activate</button>
          </div>
        </div>
        <hr>
        <h4 *ngIf="errors.length > 0">Messages:</h4>
        <ul *ngFor="let error of errors">
          <li>{{error | json}}</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">OpenCV</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink878"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink878">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="snapshot" *ngIf="webcamImage">
          <img [src]="webcamImage.imageAsDataUrl" class="w-100 h-auto"/>
        </div>
        <div *ngIf="!webcamImage">
          Take a snapshot
        </div>
        <h4 *ngIf="errors.length > 0">Messages:</h4>
        <ul *ngFor="let error of errors">
          <li>{{error | json}}</li>
        </ul>


      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Snapshot overview</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink8797"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink8797">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <button class="btn" (click)="test4()">trigger</button>
<!--        <video id="video" width="300" height="225"></video>-->
        <div>
          <video id="videoInput"></video>
          <canvas id="canvasOutput"></canvas>
        </div>

        <canvas id="canvasFrame"></canvas>
<!--        <canvas id="canvasOutput2"></canvas>-->
      </div>
    </div>
  </div>

</div>

